In [7]:
## In single quotes or double quotes

print ("Hello World")
print ('hello world')
print ("")
print ("doesn't")
print ('doesn\'t')

Hello World
hello world

doesn't
doesn't

In [19]:
## Use raw strings

print ('c:\newyork')  #treats \n as new line character
print ("c:\newyork")
print (r'c:\newyork')

c:
ewyork
c:
ewyork
c:\newyork

In [21]:
## Operations + *

print ("new" + "york")
print ("new" * 4)

newyork
newnewnewnew

In [7]:
## Assignment & Index

word='NewYork'                 # assign string
print (word[0])
print (word[5])
print (word[-1])
print (word[-4])
print (word[1:])
print (word[:3])
print (word[:-1])
print (word[2::])
print (word[::2])              # extract everything in steps of 2
print (word[::-1])             # print string backwards

N
r
k
Y
ewYork
New
NewYor
wYork
Nwok
kroYweN

In [31]:
## Embed text in python

print ('''\
This is Python text
''')

This is Python text

In [13]:
## Strings are immutable, cannot be changed

word = "Hello World"

word[0] = 'd'
print (word)                  # string cannot be changed

TypeError: 'str' object does not support item assignment

In [17]:
## METHODS

word = "New york"

print (word.upper())
print (word.lower())
print (word.split())
print (word.split('o'))

NEW YORK
new york
['New', 'york']
['New y', 'rk']

In [31]:
## PRINT FORMATTING

## (1) %s %r %d - s is string, r is string representation, d is integers

x="cold"
y="\tcloudy"
z=75.74
print ("New Yord is %s and %s and the temperature is %s" %(x,y,z))
print ("New Yord is %s and %r and the temperature is %d" %(x,y,z))

# %(a.b)f floating point number - a=min number of char padded with whitespace; b=decimals
n=13.7865
print ("number:%10.3f" %(n))

New Yord is cold and 	cloudy and the temperature is 75.74
New Yord is cold and '\tcloudy' and the temperature is 75
number:    13.787
New York is cold

In [54]:
## PRINT FORMATTING

## (2) .format method

print ('{1} is {0}'.format('cold','NewYork'))

# alignment (default: string=left-align, numbers=right-align)

print ('1')
print('{0:10} | {1:10}'.format('String', 'Number'))
print('{0:10} | {1:10}'.format('NewYork', 30))

# alignment operators <left ^centre >right
print ('2')
print('{0:10} | {1:>10}'.format('String', 'Number'))
print('{0:10} | {1:10}'.format('NewYork', 30))

# alignment padding
print ('3')
print('{0:#>10} | {1:#>10}'.format('String', 'Number'))
print('{0:<10} | {1:#>10}'.format('NewYork', 30))

NewYork is cold
1
String     | Number
NewYork    |         30
2
String     |     Number
NewYork    |         30
3
####String | ####Number
NewYork    | ########30

In [ ]:
## PRINT FORMATTING

# f-string